<div class="text-center">
  <input class="form-control" type="file"
         (change)="onChange($event)">

  <button (click)="onUpload()"
          class="btn btn-success">
    Upload
  </button>

  <div class="container">
    <h1>Billing data</h1>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Booking Date</th>
            <th>Beneficiary/Payer</th>
            <th>Amount</th>
            <th>Usage</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of billingData">
          <td>{{ data.bookingDate }}</td>
          <td>{{ data.beneficiaryOrPayer }}</td>
          <td>{{ data.amount }}</td>
          <td>{{ data.usage }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
